[submodule ".vim/bundle/slim"]
	path = .vim/bundle/slim
	url = git@github.com:slim-template/vim-slim.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/ag"]
	path = .vim/bundle/ag
	url = git@github.com:rking/ag.vim.git
[submodule ".vim/bundle/coffee-script"]
	path = .vim/bundle/coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule ".vim/bundle/handlebars"]
	path = .vim/bundle/handlebars
	url = git@github.com:mustache/vim-mustache-handlebars.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule ".vim/bundle/rails"]
	path = .vim/bundle/rails
	url = git@github.com:tpope/vim-rails.git
[submodule ".vim/bundle/ruby"]
	path = .vim/bundle/ruby
	url = git@github.com:vim-ruby/vim-ruby.git
