# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Environment settings
.env

# Procfiles
Procfile.rock

# Vendored ruby
vendor/ruby

# Redis dumps
dump.rdb

# Elixir language server
.elixir_ls
